*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

hr {
  border: 0;
  border-top: 1px solid #6f8498;
  opacity: 0.25;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
  font-weight: 500;
  color: #1abcfe;
}

.MuiButtonBase-root {
  .MuiTouchRipple-root {
    display: none;
  }

  &:hover {
    box-shadow: none !important;
    color: #fff;
  }
}

.MuiMenu-list .MuiMenuItem-root:hover {
  background-color: transparent;
}

h1 {
  font-size: 2rem;

  @media (min-width: 62rem) {
    font-size: 3.5rem;
  }
}

svg {
  transition: all 0.5s ease;
}

strong {
  color: #ef4a31;
}

.swiper-slide {
  width: auto !important;
}

.swiper-pagination {
  position: relative;
  margin-top: 3rem;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.12);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;

  @media (min-width: 768px) {
    display: block;
    margin-top: 9rem;
  }
}
