@font-face {
  font-family: 'GT Ultra';
  src: url('GTUltra.eot');
  src: url('GTUltra.eot?#iefix') format('embedded-opentype'),
    url('GTUltra.woff2') format('woff2'), url('GTUltra.woff') format('woff'),
    url('GTUltra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
